h1  {       color:    blue;
        text-align:    center; }
p   { font-family: "Times New Roman",Georgia,FreeSerif,serif;
        font-size: x-large; }
label  { font-family: "Times New Roman",Georgia,FreeSerif,serif;
       font-size: x-large;
       color: #0000ff; }